services:
  - type: static
    name: actiwaki-frontend
    repo: https://github.com/isaac1249/actiwaki-system
    branch: main
    rootDir: frontend
    buildCommand: npm run build
    staticPublishPath: dist