services:
  - type: web
    name: actiwaki-frontend
    env: static  # 或者 web
    branch: main
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npx serve -s dist
    envVars:
      - key: NODE_VERSION
        value: "18"  # 可选