services:
  - type: web
    name: actiwaki-frontend
    env: node
    buildCommand: npm run build
    startCommand: serve -s dist
    staticPublishPath: frontend/dist
    rootDir: frontend
    buildFilter:
      paths:
        - frontend/**