.container {
  padding: 20px;
  font-family: "Helvetica", sans-serif;
  background-color: #f5f9ff;
}

.title {
  text-align: center;
  color: #003366;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  margin: 4px;
  padding: 5px;
  width: 250px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

.stamp img {
  width: 120px;
  float: right;
  margin-top: 40px;
}